.border-fix {
    border: 1px solid #00000054;
}
.border-top {
       border-bottom: 1px solid #00000054;
    /*border-right: 1px solid #00000054;*/
    border-left: 1px solid #00000054;
}
.border-cuthet {
     
    
    border-left: 1px solid #00000054;
}
.border-bottom-ngoc{
    border-bottom: 1px solid #00000054;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.card-box {
    border: 1px  solid #00000054;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:hover {background-color:#ddd;}
.id{
        color: #777;
    display: block;
    font-size: 13px;
    line-height: 17px;
}
.col-1{
    width: 135px;
    padding-left: 26px;
    padding-right: 14px;
}
.col-2{
width: 155px;
    padding-left: 3px;
    padding-right: 5px;
}
.col-3{
    width: 310px;
    padding-left: 14px;
    padding-right: 6px;
}
.col-4{
    width: 371px;
    max-width: 371px;
    padding-left: 4px;
    padding-right: 16px;
    text-align: right;
    white-space: normal;
}
dt{
        float: left;
    margin: 0 10px 0 0;
    color: #777;
    width: 56px;
    text-align: right;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
}
dd{
        margin: 0 0 5px;
    color: #555;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}
.description{
        display: block;
    text-align: right;
    color: #38a7c2;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    padding: 0 0 3px;
    text-transform: capitalize;
}
.col-4 .place {
    color: #444;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 5px 34px;
    vertical-align: top;
    text-align: right;
}
.col-4 .city {
    font-size: 18px;
    line-height: 22px;
    display: block;
    text-align: right;
    color: #999;
}
table td {
    padding: 11px 0;
    vertical-align: middle;
}
dd.pax-names {
    font-weight: 700;
}
.myprofile {
    height: 1%;
    background: #f9f9f9;
    margin: 0 0 24px;
}
.form-1 {
    height: 1%;
    position: relative;
}
.width-30 {
    width: 30%;
}
.width-50 {
    width: 50%;
}
.row .input-first {
    display: block;
    float: left;
}
.row .input-second, .row .input-third {
    display: inline;
    float: left;
}
.fluid {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
}
.width-98 {
    width: 98%;
}
.input-bg-right {
    background: #e9ecef;
    float: left;
    padding: 0 5px 0 0;
    margin: 0;
    height: 38px;
}
.input-bg-right {
    background: #e9ecef;
    float: left;
    padding: 0 5px 0 0;
    margin: 0;
    height: 38px;
}
.input-bg-right>.input-bg-left {
    background: #e9ecef;
    float: left;
    height: 39px;
    padding: 0;
    width: 100%;
    margin: 0;
}
.form-1 .row, .ui-dialog .row {
    padding: 0 0 10px;
}
.row {
    margin: auto;
}
label.grey {
    float: left;
    color: #99a2a4;
    display: inline-block;
    font-family: Helvetica Neue Bold Condensed,Helvetica,Arial;
    font-size: 12px;
    line-height: 37px;
    margin-right: 10px;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  /*margin-top: 20px;*/
  /*margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #444444;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #d5d5d5;
  background-image: #d5d5d5;
  color: #444444;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #d5d5d5;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}