.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body { 
font-family: 'Quicksand', sans-serif;
  /*font-family:"Roboto",Arial, Helvetica, sans-serif;*/
   }



.header-area {
    border-bottom: 1px solid #ccc;
}
.header-area a {
    color: #888;
}
.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.user-menu li {
    display: inline-block;
}
.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}
.user-menu li a i.fa {
    margin-right: 5px;
}
.header-right ul.list-inline {
    margin: 0;
    text-align: right;
}
.header-right ul.list-inline li a {
    display: block;
    padding: 9px;
}
.header-right ul.list-inline li ul a {
    padding: 5px 15px;
}
.header-right ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}

.mainmenu-area {background: none repeat scroll 0 0 #fbfbfb;
/*font-family: "Roboto Condensed",sans-serif;*/
text-transform: uppercase;
width: 100%;
z-index: 999;}



.logo h1 {
    font-size: 40px;
    margin: 30px 0;font-weight: 400;
}
.logo h1 a {
    color: #999;
}
.logo h1 a:hover {text-decoration: none;opacity: .7}
.logo h1 a span {
    color: #5a88ca;
}
.shopping-item {
    /*border: 1px solid #ddd;*/
    float: right;
    font-size: 18px;
    /*margin-top: 40px;*/
    padding: 10px;
    position: relative;
}
.shopping-item-on {
  border: 1px solid #ddd;
  background-color: #fff;
  position: fixed ; 
  top: 15px;
  right: 1%;
  z-index: 9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
div#bunmm {
    z-index: 999;
    position: fixed;
    right: 0;
    /*background: red;*/
    width: 100px;
    height: 100px;
}
.btn-warning {
    color: #fff;
    background-color: #4ca355;
    border-color: #4ca355;
}
.shopping-item a {
    color: #666;
}
.cart-amunt {
    color: #5a88ca;
    font-weight: 700;
}
.product-count {
    background: none repeat scroll 0 0 #5a88ca;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
       right: 1px;
    text-align: center;
    top: 7px;
    width: 20px;
}
.shopping-item i.fa {
    margin-left: 15px;
}
.shopping-item img{
  width: 32px;
}

.shopping-item:hover {
    /*background: none repeat scroll 0 0 #5a88ca;*/
    border-color: #5a88ca;
}
.shopping-item:hover a {
    color: #fff;text-decoration: none
}
.shopping-item:hover .cart-amunt {
    color: #fff;
}
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}


.mainmenu-area ul.navbar-nav li a {
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: #5a88ca; color:#FFF;}
.mainmenu-area .nav > li > a:focus {color: #FFF;}

.slider-area { width:80%; position:relative; margin:0 auto; padding:5px;}
/*-------------------------
[9. Block slider]
---------------------------*/
.block-slider{
	border:none;
	width: 100%;
}
.block-slider ul li{
	list-style: none;
}
.block-slider .bx-pager{
	display: none;
}
.block-slider .bx-prev,
.block-slider .bx-next{
	width: 32px;
	height: 32px;
	border: 1px solid #eaeaea;
	text-align: center;
	display: block;
	border-radius: 50%;
	font-size: 30px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 29px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.block-slider img{
	width: 100%;
	height: auto;
  border-radius: 10px;
}
.block-slider .bx-prev{
	left: 0px;
	padding-right: 3px;
}
.block-slider .bx-next{
	right: 0px;
	padding-left: 3px;
}
.block-slider:hover .bx-prev{
	left: 10px;
}
.block-slider:hover .bx-next{
	right: 10px;
}
.block-slider .bx-prev:hover,
.block-slider .bx-next:hover{
	background: #5a88ca;
	color: #fff;
	border-color: #5a88ca;
}

/*------------------
[4. Slidershow]
------------------*/

.block-slider .bx-pager{

        display: block;
    text-align: center;
    position: absolute;
    right: 46%;
    bottom: 12px;
}
.block-slider .bx-pager-item{
	width: 15px;
	height: 15px;
	background: #fff;
	font-size: 0;
	display: inline-block;
	border-radius: 50%;
	margin: 0 3px;
}
.block-slider .bx-pager-item a{
	width: 100%;
	height: 100%;
	background: #999;
	display: block;
	border-radius: 50%;
}
.block-slider .bx-pager-item a.active{
	background: #1bd172;
}
.block-slider .caption-group{
	position: absolute;
    top: 26%;
    right: 16%;
}
.block-slider .caption-group .title{
	margin: 0;
}
.block-slider .caption-group .subtitle{
	margin: 0;
	margin-top: 5px;
}
.block-slider .caption-group .button-radius{
	margin-top: 27px;
}
.block-slider .caption-group .primary{
	color: #1bd172;
}
.block-slider .caption-group .caption{

}

/*----------------------
[10. Block top seller ]
------------------------*/
.button-radius{
  position: relative;
  border: 1px solid #eaeaea;
  padding: 1px;
  min-height: 34px;
  background: #fff;
  display: inline-block;
  width: auto;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  color: #666666;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 10px;
  font-size: 14px;
}
.button-radius .icon{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  left: 2%;
  top: 2px;
  overflow: hidden;
}

.button-radius .icon:before{
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 14px;
  color: #fff;
  width: 28px;
  height: 28px;
  background-color: #5a88ca;
  border-radius: 90%;
  text-align: center;
  line-height: 26px;
  float: left;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.button-radius.white{
  border-color: #fff;
  color: #fff;
  background: transparent;
}
.button-radius.white .icon:before{
  background: #fff;
  color: #333;
}

.button-radius:hover .icon{
  left: 100%;
  margin-left: -30px;
}
.button-radius:hover{
  padding-left: 20px;
  padding-right: 40px;
}

.promo-area {
  background:#fbfbfb;
  color: #fff;
  padding: 40px 0 40px;
}

.brands-area {
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  color: #fff;
  padding: 20px 0 20px;
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #f4f4f4}
.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: #fff;background: #222;}
.promo1 { background:#5a88ca;}
.promo2 { background:#ffd900;}
.promo3 { background:#fa8072;}
.promo4 { background:#4abebd;}
.section-title {
  /*font-family: "Raleway",sans-serif;*/
  /*font-size: 50px;*/
  /*font-weight: 100;*/
  /*margin-bottom: 50px;*/
  /*text-align: center;*/
  /*font-size: 28px;*/
  color: #1e1e1e;text-align: center;
  display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 37px;
}


.product-f-image {
    position: relative;

}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    /*border: 1px solid #ddd;*/
}
.product-hover:after {
  /*background: none repeat scroll 0 0 #999;*/
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  transition: .4s;
}
.product-hover a {
    background: none repeat scroll 0 0 #4ca355;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #4ca355;
    width: 80%;z-index: 99;
    transition: .4s;
}
.product-hover a:hover {
  background: #fff;
  text-decoration: none;
  border-color: transparent;
  color: #4ca355;
  border: 1px solid #4ca355;
}
a,a:hover{
  text-decoration: none !important;
}
.product-carousel-price ins {
  color: #333;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}
.product-hover a i.fa {
    margin-right: 5px;
}
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}


.single-product h2 a {
    color: #222;
}
.single-product p {
    color: #5a88ca;
    font-weight: 700;
}

.single-product {
  overflow: hidden; text-align: center;
}
.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 35%;}
.single-product:hover .product-hover a.view-details-link {bottom: 25%;}
.single-product:hover .product-hover:after{left: 0}

.video-product{
  background-color: #fff
}
.product-carousel {
  padding-top: 40px;
}
.latest-product .owl-nav {
        position: absolute;
    right: 0;
    width: 100%;
    bottom: 235px;
    height: 1px;
}
.latest-product .owl-nav .owl-prev{
float: left;
}
.latest-product .owl-nav .owl-next{
float: right;
}
.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
 background: #fafafa;
    padding: 20px 25px;
    font-size: 30px;
    font-weight: lighter;
}
.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {color: #FFF; background:#4ca355;}
.brand-list {padding-top: 40px;}
.brand-list .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.brand-wrapper .owl-nav div {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

.brand-wrapper .owl-nav div {
  background:#fa8072;
  color:#FFF;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

.maincontent-area {
  /*padding-bottom: 50px;*/
 padding-top:50px;
}

.product-wid-title {
  /*font-family: raleway;*/
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}


.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}
.product-thumb {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}
.single-wid-product h2 {
    font-size: 14px;
    margin-bottom: 12px;
}
.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}
.product-wid-price ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.single-wid-product h2 a {
    color: #222;
}
.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #5a88ca;
}
.wid-view-more {
    background: none repeat scroll 0 0 #5a88ca;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 3px;
}
.wid-view-more:hover {color: #fff;background-color: #222;text-decoration: none}
.single-product-widget {
    position: relative;
}
.product-widget-area {
  padding-bottom: 30px;
  padding-top: 30px;
}
.product-widget-area .zigzag-bottom{background: #f4f4f4;}
.footer-top-area .zigzag-bottom{background: #f4f4f4}
.footer-top-area {background: none repeat scroll 0 0 #262626;
color: #999;
padding: 35px 0 40px;}


.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
  color: #5a88ca;
}
.footer-wid-title {
  /*font-family: raleway;*/
  font-size: 30px;
  font-weight: 100;color: #fff
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}
.footer-menu a {
    display: block;
    padding: 2px 0;
    color: #fff;
    font-size: 1.5rem;
}
.footer-menu a:hover {
  color: #8a8a8a;
  text-decoration: none;
      -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.footer-social a {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;border: 1px solid #5a88ca;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}


.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
.newsletter-form {
    margin-top: 25px;
}
a {color: #8a8a8a}
a:hover, a:focus {color: #000}
.footer-bottom-area {
  background: none repeat scroll 0 0 #242424;
  color: #fff;
  padding-bottom: 40px;
}


.slide-bulletz {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
}
ol.slide-indicators {
left: inherit;
list-style: outside none none;
margin: 0;
padding: 0;
position: relative;
width: 100%;
}
ol.slide-indicators li {
background: none repeat scroll 0 0 #222;
border: medium none;
border-radius: 0;
cursor: pointer;
display: inline-block;
height: 10px;
margin: 0 0 0 5px;
width: 10px;
}
ol.slide-indicators li.active {
background: none repeat scroll 0 0 #fff;
height: 10px;
margin: 0 0 0 5px;
width: 10px;
}


.carousel.carousel-fade .item { transition: opacity 1s ease-in-out }
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

.copyright > p {
  margin: 10px 0 0;
}

.product-big-title-area {background: url(img/crossword.png) repeat scroll 0 0 #5a88ca}

.product-bit-title h2 {
  /*font-family: raleway;*/
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;color: #fff;
}

.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
  padding: 80px 0 130px;
}





.sidebar-title {
        color: #000;
    font-size: 21px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.single-sidebar {
    margin-bottom: 50px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}
input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 rgb(76, 163, 85);
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}
input[type="submit"]:hover, button[type=submit]:hover {background-color: #222}
.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}
.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}
.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}
.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.thubmnail-recent > h2 a {
    color: #222;
}
.product-sidebar-price > ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}
.single-sidebar a {
    display: block;
}
.product-breadcroumb {
    margin-bottom: 20px;
}
.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}
.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}
.product-breadcroumb > a:last-child::before {
    display: none;
}
.product-main-img {
    margin-bottom: 20px;
}
.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}
.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 25%;
}
.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 25px;
}
.product-inner-price > ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #5a88ca;
    padding: 5px;
    width: 50px;
}
.add_to_cart_button {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}
.product-inner-category {
    margin-bottom: 30px;
}
.product-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.product-tab li {
    display: inline-block;
}
.product-tab li.active {
    background: none repeat scroll 0 0 #5a88ca;
}
.product-tab li.active a {
    color: #fff;
}
.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}
.product-tab li a:hover {
    text-decoration: none;
}
.product-tab li a:focus {
    text-decoration: none;
}
.tab-content h2 {
    font-size: 20px;
}
.tab-content {
    margin-bottom: 30px;
}
.submit-review label {
    display: block;
}
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}
.rating-chooser {
    margin-bottom: 30px;
}
.rating-chooser p {
    font-weight: 700;
}
.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.related-products-wrapper {
  margin-top: 30px;
}
.related-products-title {color: #feae52;
font-size: 25px;
margin-bottom: 30px;
text-transform: uppercase;}

.related-products-wrapper .owl-nav {
  position: absolute;
  right: 0;
  top: -56px;
}



table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}
table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}
td.product-thumbnail img {
    height: auto;
    width: 70px;
}
td.product-name {
    font-size: 18px;
}
div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
}
td.product-quantity div.quantity {
    float: none;
    margin: 0;
}
td.actions div.coupon {
    float: left;
}
.cart-collaterals {
    overflow: hidden;
}
.cross-sells {
    float: left;
    margin-right: 3%;
    width: 57%;
}
.cart_totals {
    float: right;
    margin-bottom: 50px;
    width: 40%;
}
.cart-collaterals h2 {
    color: #5a88ca;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
div.cart-collaterals ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}
div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 30px;
    position: relative;
    width: 198px;
}
.cart_totals table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
.cart_totals table th, .cart_totals table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.cart_totals table th {
    background: none repeat scroll 0 0 #f4f4f4;
}
.onsale {
}
div.cart-collaterals ul.products li.product .onsale {
    background: none repeat scroll 0 0 #5a88ca;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}
div.cart-collaterals ul.products li.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}
div.cart-collaterals ul.products li.product .price {
    color: #333;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.price > ins {
}
div.cart-collaterals ul.products li.product .price ins {
    color: #5a88ca;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}



.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}
.col2-set {
    margin-left: -30px;
    overflow: hidden;
}
.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}
#customer_details label {
    display: block;
    margin: 0 0 5px;
}
#customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
    margin-bottom: 10px;
    width: 100%;
}
#customer_details h3 {
    color: #5a88ca;
    font-size: 20px;
    text-transform: uppercase;
}
.create-account {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 50px;
    padding: 15px;
}
#order_review_heading {
    color: #5a88ca;
    font-size: 20px;
    text-transform: uppercase;
}
#payment ul.payment_methods {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}
#payment ul.payment_methods li {
    margin-bottom: 15px;
}
a.about_paypal {
    font-size: 12px;
    margin-left: 15px;
}


#customer_details select, .shipping_calculator select {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}


table.shop_table td.product-remove a {
  display: inline-block;
  padding: 0 5px 2px;
  text-transform: uppercase;
}


table.shop_table td.product-remove a:hover {color: #fff;background: red;text-decoration: none}
table.shop_table td.product-name a{color: #222;}
table.shop_table td.product-name a:hover {color: #5a88ca;text-decoration: none}
div.quantity input.plus:hover, div.quantity input.minus:hover {background-color: #222}
div.cart-collaterals ul.products li.product a:hover h3 {color: #5a88ca}
div.cart-collaterals ul.products li.product a:hover {text-decoration: none}

div.cart-collaterals ul.products li.product:hover .add_to_cart_button{background-color: #222}


.cart-collaterals .shipping_calculator {
  float: right;
  width: 40%;
}


#login-form-wrap, #coupon-collapse-wrap {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 30px;
    padding: 25px;
}
#login-form-wrap label {
    display: block;
    margin-bottom: 5px;
}
#login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
    margin-bottom: 10px;
    width: 250px;
}
#login-form-wrap input[type="submit"] {
    margin-bottom: 15px;
}



.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {margin-bottom: 15px}

.pagination > li > a, .pagination > li > span {
  color: #5a88ca;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
 color: #4ca355;
    background-color: #f5f5f573;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #4ca355;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
.menu-home-index{
  width:80%;
  margin: auto;
}
.navbar-default {
    background: #fff;
    border: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar{
  margin-bottom: 0px;
}
.home-top-on {
    color: #fff;
    display: none;
    width: 100%;
    z-index: 222;
    position: fixed;
    background-color: #262626;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.textwidget {
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
}
li.dropdown.dropdown-small.end {
    border-left: 1px solid #ccc;
}
.div_show_div{
    position: absolute;
    left: 50%;
    top: 12px;
    cursor: pointer;
}
.logo{
  width: 200px;
}
.custom-search-form{
    margin-top:50px;
}
.inpu-seary{
      height: 45px;
    border-radius: 0;
    border: 1px solid #ccc;
}
.btn-seary {
    height: 45px;
    width: 50px;
    border-radius: 0;
    background: #4ca355;
    border-color: #4ca355;
}
.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: fixed;
    border-radius: 3px;
    padding: 20px;
     /*display: none; */
    z-index: 10000;
    border: 1px solid #ccc;
    top: 80px;
    right: 10px;
  }
  #cart_v{
    display: none;
  }
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    }
    .shopping-cart-total {
      /*float: right;*/
      text-align: right;
    }
  
  
  .shopping-cart-items {
    
    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }
  }
   
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}
.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
  &:hover {
    background: lighten($main-color, 3%);
  }
}
.div-ca-c-on{
  width:100%;
  /*border:1px solid red;*/
  position: relative;
}
.div-ca-c-on img{
  width: 100%;
  cursor:pointer;
  border-radius: 10px;
}
.c-dic-on{
  cursor: pointer;
  height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: 99;
    /*background: rgba(139,196,223,0.7) !important;*/
    bottom: 0px;
    width: 100%;
    color: #fff;
    font-size: 12px;
        border-radius: 0px 0px 5px 5px;
}

.c1-dic-on{
background-color:  rgba(139,196,223,0.7) !important;
}
.c2-dic-on{
background-color:  rgba(117,50,0,0.7) !important
}
.c3-dic-on{
background-color: rgba(221,62,121,0.71) !important
}
.c4-dic-on{
background-color: rgba(241,94,36,0.7) !important
}
.c5-dic-on{
background-color: rgba(174,255,89,0.68) !important
}
.c6-dic-on{
background-color: #1e6292 !important
}
a.text_product {
    color: #666667 !important;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}
.product-carousel-price span{
      font-size: 19px;
    font-weight: bold;
    line-height: 2px;
}
.table-product{
   border-collapse: collapse;
    border: 1px solid #ccc;
    margin-left: 3px;
    width: 98%;
}
.table-product td {
   border: 1px solid #ccc;
}
.footer-wid-title.sty-h2{
  font-size: 16px;
      border-bottom: 1px solid #383838;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.footer-menu.fix-li ul li{
  border-bottom: none;
  padding: 0;
}   
.row.row-ft{
   margin-bottom: 2.14em;
}
.footer-top-area div.address-section-title {
    margin-top: 5px;
    text-transform: uppercase;
}
.page-header.address-section-title .sty-a{
  color: #fff;
}
.page-header.address-section-title .sty-a:hover {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    text-decoration: none;
    color: #8a8a8a;
}
.footer-top-area span.location-heading {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-top-area .sidebar-widget {
    margin-bottom: 32px;
}
.danhsach-bran{
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 0 2px;
    color: #b2b2b2;
    text-align: center;

}
.section-title-bran{
    color: #1e1e1e;text-align: center;
  display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 37px;
}
.hader-sort {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    line-height: 60px;
    margin-bottom: 20px;
}
.no-add-minus .quantity.buttons_added {
    margin-right: 0px;
    float: left;
}
.quantity.buttons_added {
    position: relative;
    margin-bottom: 8px;
    margin-right: 20px;
    display: inline-block;
    opacity: 1;
}
.item-hot .quantity.buttons_added {
    position: relative;
    margin-bottom: 8px;
        margin-left: 35px;
    display: inline-block;
    opacity: 1;
}
.quantity {
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-bottom: 25px;
    letter-spacing: -3px;
}
.no-add-minus .quantity.buttons_added span {
    display: none;
}
.quantity.buttons_added span {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    border: none;
    background-color: #f7f7f7;
    width: 38px;
    text-align: center;
    letter-spacing: 0;
    color: #1e1e1e;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
    vertical-align: top;
    -webkit-font-smoothing: none;
    -moz-font-smoothing: none;
}
.no-add-minus .quantity.buttons_added.buttons_added input[type='text'].input-text {
    border: 1px solid #b4b4b4;
    /*margin-right: 0px;*/
}
.quantity.buttons_added.buttons_added input[type="text"] {
    margin-left: 3px;
    margin-right: 5px;
}
.quantity.buttons_added input[type="text"] {
    display: inline-block;
    width: 38px;
    max-width: 45px;
    padding: 0 0.71em;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    -webkit-appearance: none;
    height: 38px;
    line-height: 38px;
    color: #494949;
}
.single-shop-product button[type=submit]{
      background: none repeat scroll 0 0 #f2f2f2;
      color: #000000;
          font-size: 1.2rem;
    padding: 1.2rem 2.5rem;
}
.single-shop-product button[type=submit]:hover{
      background: none repeat scroll 0 0 rgb(241, 94, 36);
      color: #fff;
          -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.product-carousel-price.price-new {
    width: 100%;
    display: block;
    font-size: 1.7rem;
    color: #222222;
    font-weight: bolder;
        clear: both;
}
.single-shop-product .product-title {
    text-transform: none;
}
.single-shop-product .product-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0;
        height: 50px;
}
.single-shop-product .product-title a {
    color: #666667;
}
.single-shop-product .product-title a {
    display: block;
    width: 100%;
    margin-bottom: 0.7142em;
}
.single-shop-product .product-title a {
    font-weight: bold;
}
.single-shop-product .product-title a:hover {
    text-decoration: none;
}
.qty-span {
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 9px;
}
.single_add_to_cart_button {
    /*line-height: 0.1rem;
    height: 3.42rem;
    padding: 0 1.93em;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #262626;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    color: white;
    min-width: 200px;
    margin-right: 0.4rem;
    background: none repeat scroll 0 0 rgb(241, 94, 36);
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;*/
        line-height: 0.5rem !important;
    font-weight: 400;
    background-color: #262626;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    min-width: 200px;
    background: none repeat scroll 0 0 rgb(241, 94, 36);
    border: medium none;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
}
.hotline {
    margin-bottom: 10px;
}
.hotline a {
    color: #4ca355;
    font-weight: bold;
}
a:hover{
  text-decoration: none !important;
}
.product-inner .product_meta {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #1e1e1e;
    font-size: 12px;
}
.product-inner .product_meta > span {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}
.product-inner .product_meta span span{
    font-weight: normal;
    text-transform: none;
    color: #8a8a8a;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.product-inner .product_meta .posted_in {
    display: inherit;
}
.product-inner .attributes {
    text-transform: uppercase;
    font-weight: bold;
}
.product-inner .shop_attributes {
    margin-left: 0px;
    margin-right: 0px;
}
@media only screen and (min-width: 992px){
.shop_attributes {
    width: 85%;
}}
.shop_attributes {
    margin: 0 auto;
}
.product-inner .shop_attributes th, .product-inner .shop_attributes td {
    text-transform: none;
    font-size: 1em;
    padding-top: 0.5em;
}
.product-inner .shop_attributes th {
    min-width: 100px;
}
.product-inner table th,.product-inner table td {
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e6e6e6;
}
.latest-product .section-title {
      padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 3.6rem;
    color: #1e1e1e;
    text-align: center;
}

button#btn-plus {
    border: 1px solid #ccc;
    border-radius: 0;
    margin-right: 2px;
}

input#qty {
    border: 1px solid #ccc;
    margin-right: 3px;
    width: 44px;
}

button#btn-minus {
    border: 1px solid #ccc;
    border-radius: 0;
}
.price-procu{
      width: 100%;
    margin-bottom: 0.69em;
    font-size: 2.3rem;
    line-height: 1.2;
    color: #1e1e1e;
    font-weight: bold;
}
.product_list_widget li {
    padding-top: 20px;
    padding-bottom: 20px;
}
.product_list_widget .product-list-image {
    float: left;
    display: block;
}
.product_list_widget .product-title a {
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
}
.product_list_widget .product-title a:hover {
    color: rgb(241, 94, 36);
              -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.card-video .wrapper-vd{
  background-color: #fff;
}
.card-video .content-video a h3{
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    padding-top: 10px;
    color: #000;
}

.card-video .wrapper-vd{
  padding: 20px 10px;
}
.card-video .content-video p{
  color: #666;
  padding-bottom: 3rem;
}
.card-video{
  margin-bottom: 3rem;
}
.card-video .footer-video a:hover {
    color: #ce3466;
}
.card-video .footer-video a {
    color: #222;
    border: 1px solid #222;
    padding: 5px 20px;
    font-size: 1.6rem;
}

.content-video h3{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffcb08;
    margin-bottom: 20px;
    /*text-align: center;*/
    padding-top: 20px;
    padding-top: 20px;
}
.pdx-0{
  padding-right: 0;
  padding-left: 0;
}
.content-video .ingredients {
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.text-white{
  color: #fff;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.login-sp .checkbox label input[type="checkbox"],.login-sp .radio label input[type="radio"] {
    display: block;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.me-page-left {
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    height: 80px;
}
.div_content-me{
  margin-top: 50px;
  color: #333333;
  
}
.mb-3{
  margin-bottom: 3rem !important;
}
.mb-2{
  margin-bottom: 1.5rem !important;
}
.maucam{
  color: #4ca355 !important;
}

.add-to-cart{
    background: #f2f2f2;
    color: #000 !important;
    font-size: 1.2rem;
    padding: 1.1rem 2.5rem;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
}
.add-to-cart:hover{
    background: #4ca355;
    color: #fff !important;
    transition: all 0.2s linear;
}
.product-f-image img {
    width: 100%;
    height: 250px;
}
.shopping-cart-header .sty-bag{
    margin: 0;
    color: #1e1e1e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.shopping-cart .shopping-cart-items {
 /* list-style-type: none;

  padding: 0;*/
      overflow-y: scroll;
    list-style-type: none;
    padding: 0;
    max-height: 300px;
}
.shopping-cart-items li {
    padding-top: 20px;
    padding-bottom: 20px;
        border-bottom: 1px solid #E8E8E8;
}
.shopping-cart-items .product-list-image {
    float: left;
    display: block;
}
.shopping-cart-items .product-title a {
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
}
.shopping-cart-items .product-title a:hover {
    color: #4ca355;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.sty-span-bag{
  color: #8a8a8a;
  /*font-size: 1.4rem;*/
}
.shopping-cart-total .lighter-text{
      margin: 0;
    color: #1e1e1e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.shopping-cart-total .main-color-text{
  color: #4ca355;
      font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-left: 1.3rem;
}
.button-cart{
    background: none repeat scroll 0 0 #4ca355;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #4ca355;
    z-index: 99;
    transition: .4s;
     margin-top: 1rem;
}
.button-cart-dh{
    background: none repeat scroll 0 0 #4ca355;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
   border-radius: 5px;
    z-index: 99;
    transition: .4s;
        margin-top: 1rem;
}
a.button-cart:hover,a.button-cart-dh:hover{
  color: #fff;
  opacity: 0.8;
}
.latest-product .login-sp{
    border: 1px solid #ccc;
    padding: 3rem;
}
.latest-product .text-head{
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
}
.latest-product .reg-sp{
    padding: 3rem;
}
.latest-product .form-control{
    height: 3.8rem;
    line-height: 4rem;
    padding: 0 1.07em;
    display: block;
    font-size: 1.5rem;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 0;
    color: #1e1e1e;
}
.latest-product .form-control:focus{
      -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #c7c7c7;
}
.latest-product .btn-sp{
      background-color: #262626;
    border-style: solid;
    border-width: 1px;
    /*border-color: #262626;*/
    color: white;
    margin-right: 10px;
    height: auto;
    font-size: 12px;
    border-radius: 0;

}
.footer-about-us.top-header-ab h2{
    margin-bottom: 30px !important;
    border-bottom-width: 2px !important;
    padding-bottom: 20px !important;
    border-bottom-color: #404040 !important;
    border-bottom-style: solid !important;
    margin-top: 20px !important;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
}
.footer-newsletter h4{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 5px;
}
.footer-about-us.sty-if p{
  color: #8c8c8c;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.nen-cam{
  background-color: #4ca355 !important;
}
#fix-item-hot .product-upper img {
    width: 100%;
    height: 250px;
    padding-bottom: 1.5rem;
}
.single-shop-product .product-upper img {
    width: 100%;
    height: 200px;
}
.overlay {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  background-color: #4ca355;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  z-index: 15;
}

#fix-item-hot.hv-item-hot:hover .overlay {
  height: 15%;
}
.view-details-link#fix-item-hot-a {
  text-transform: uppercase;
  color: #fff;
  position: absolute;top: 50%;left: 50%;
  transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;

}

.hc-item-hot{
    background: #f2f2f2;
    color: #000;
    font-size: 1.2rem;
    padding: 1.1rem 2.5rem;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
}
.hc-item-hot:hover{
  background-color: #4ca355;
  color: #fff;
  transition: .2s ease;
}
a.add-to-cart-link-1 {
      width: 25%;
    float: left;
    background: #4ca355;
    height: 50px;
    line-height: 59px;
    text-align: center;
    border: 1px solid #ccc;
    margin-left: 25%;
    border-radius: 26px;
    color: #fff;
}

a.view-details-link-1 {
    width: 25%;
    float: left;
    background: #4ca355 ;
    height: 50px;
    line-height: 59px;
    text-align: center;
    border: 1px solid #ccc;
      border-radius: 26px;
         color: #fff
}

.product-hover1 {
    clear: both;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    display: none;
        z-index: 2;
}

.single-product:hover .product-hover1 {
    display: block;
}
.custom-search-form button[type=submit] {

    border-radius: 5px;
}

div#cart:hover div.shopping-cart
{
 display:block;   
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4ca355;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 99;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
        border-radius: 6px;
}
.input-group .form-control.bo-cong-vien{
    border-radius: 5px 0px 0px 5px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
      color: #4ca355 !important;
}
.hethang_div {
    position: absolute;
    bottom: 35%;
    left: 35%;
    width: 75px;
    height: 75px;
    background: #faf9f38f;
    text-align: center;
    line-height: 75px;
    border-radius: 35px;
    color: #000;
    z-index: 123;
    text-transform: uppercase;
    font-weight: 600;
}
.on_hethang_div {
    width: 100%;
    background: #fbfbff85;
   height: 100%;
    position: absolute;
    z-index: 12;
}
.onsale {
    background-color: #4ca355;
    border-radius: 50%;
    width: 3.75em;
    height: 3.75em;
    line-height: 3.75em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.product-upper .onsale {
    position: absolute;
    top: -15px;
    left: -9px;
    z-index: 124;
    font-size: 1.3rem;
}
.product-upper .sale-wrapper {
    opacity: 1;
}
.sale-wrapper {
    position: absolute;
    z-index: 22;
}
.mauxanh{
  color: #4ca355 !important;
}
.dropdown-content-mns {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    z-index: 1000;
    margin-left: -37px;
    border: 1px solid #ccc;
}
.dropdown-content-mns a {
    color: #9b9b9b !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.dropdown-content-mns a:hover {
  background-color: #f7f7f7 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear
}

.dropdown:hover .dropdown-content-mns {
  display: block;
}
.add-to-cart-link-11:before {
        font-size: 21px;
    content: "\e916";
       font-family: 'xstore-icons';
    color: #fff !important;
    line-height: 43px;
    margin-right: 0;
    top: 0;
    height: auto;
    left: 0;
  
    display: block;
    width: 100%;
}
img.img_hover_div {
    width: 26px !important;
    height: 21px;
    margin: 14px auto;
    line-height: 50px;
}
i.fa.fa-search.fa-2x {
    font-size: 1.9rem;
}
.hv-item-hot:hover .image-swap img,.single-product:hover .image-swap img {
    opacity: 1;
}
.hv-item-hot:hover .image-swap,.single-product:hover .image-swap {
    display: block;
    opacity: 1;
}
.hv-item-hot .image-swap,.single-product .image-swap{
    position: absolute;
    top: auto;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hv-item-hot .product-content-image img,.single-product .product-content-image img{
    display: inline-block;
    -webkit-transition: 0.5s opacity ease-in-out;
    transition: 0.5s opacity ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.hv-item-hot .product-content-image,.single-product .product-content-image{
    text-align: center;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    }